/CatalogHub/CatalogHub.Api/bin
/CatalogHub/CatalogHub.Domain/bin
/CatalogHub/CatalogHub.Application/bin
/CatalogHub/CatalogHub.Infrastructure/bin
/CatalogHub/CatalogHub.Infrastructure/obj
/CatalogHub/CatalogHub.Domain/obj
/CatalogHub/CatalogHub.Api/obj
/CatalogHub/CatalogHub.Tests/obj
/CatalogHub/CatalogHub.Application/obj
/CatalogHub/.vs
/CatalogHub/CatalogHub.Tests/bin
/CatalogHub.Tests/bin
/CatalogHub.Api/bin
/.vs
/CatalogHub.Domain/bin
/CatalogHub.Application/bin
/CatalogHub.Infrastructure/bin
/CatalogHub.Infrastructure/obj
/CatalogHub.Api/obj
/CatalogHub.Domain/obj
/CatalogHub.Application/obj
/CatalogHub.Tests/obj
